<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="report.css">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Six Speed</a>
        </div>

        <div class="collapse navbar-collapse" id="main-navbar">
          <ul class="nav navbar-nav navbar-filter">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Engines <span class="caret"></span></a>
              <ul class="dropdown-menu js-engine-list"></ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Implementations <span class="caret"></span></a>
              <ul class="dropdown-menu js-implementation-list"></ul>
            </ul>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://github.com/kpdecker/six-speed">Fork me on GitHub</a></li>
          </ul>
          <div class="nav navbar-nav navbar-text navbar-right">
            By <a class="navbar-link" href="https://twitter.com/kpdecker">@kpdecker</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
    <table class="table">
      <caption>Performance of ES6 features relative to the ES5 baseline operations per second.</caption>
      <thead>
        <tr>
          <td colspan="2"></td>
          {{#each browsers}}
            <th class="browser-first {{tag}}" colspan="{{versions.length}}">{{name}}</th>
          {{/each}}
        </tr>
        <tr>
          <td colspan="2"></td>
          {{#each browsers}}
            {{#each versions}}
              <th class="{{#if @first}}browser-first{{/if}} {{tag}}">{{display}}</th>
            {{/each}}
          {{/each}}
        </tr>
      </thead>

      <tbody>
        {{#each tests as |test|}}
          {{#each types}}
            <tr {{#if @first}}class="feature-row" id="test-{{test.name}}"{{/if}}>
              {{#if @first}}
                <th rowspan="{{test.types.length}}">
                  {{test.display}}
                  <a class="test-link" href="https://github.com/kpdecker/six-speed/tree/master/tests/{{test.name}}">tests</a>
                </th>
              {{/if}}
              <th class="{{clazz}}">{{name}}</th>

              {{#each results}}
                <td class="{{clazz}}">{{{text}}}</td>
              {{/each}}
            </tr>
          {{/each}}
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="container">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title">Testing methodology</h2>
      </div>

      <div class="panel-body">
        <p>
          Run on {{date}} using babel {{babelVersion}}, babel-runtime {{babelRuntimeVersion}}, and traceur {{traceurVersion}}.
        </o>
        <p>
          For each of the ES6 features in question, a ES5 implementation of that functionality was written along with a ES6 version. It should be noted that the functionality is frequently the same, but in some cases the "common" vs. "correct" version was written, i.e. using <code>x[key] = value</code> vs. <code>defineProperty</code> which is faster but can be hit but a particular nasty edge case for those who deem it fun to extend <code>Object.prototype</code>.
        </p>
        <p>
          Babel, in both loose+runtime and runtime mode, and Traceur were then used to compile the ES6 version to a ES5 compliant version, utilizing the runtime over polyfill to maintain test isolation and avoid native implementations where possible.
        </p>
        <p>
          All of these test instances were then benchmarked in the given JavaScript engine using <a href="https://benchmarkjs.com/">Benchmark.js</a> and then the operations per second compared to the ES5 implementation. Cross browser and cross execution comparisions are avoided as much as possible to isolate environmental issues when executing on VMs in the cloud. <code>Identical</code> indicates that the tested implementation was +/- 10% of the ES5 implementation.
        </p>
      </div>
    </div>
    </div>

    <noscript>
      <style>
        .initial-hide { display: block; }
        .navbar-filter { display: none; }
      </style>
    </noscript>

    <script>
      var REPORT_DATA = {{{reportData}}};
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/{{jqueryVersion}}/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/{{bootstrapVersion}}/js/bootstrap.min.js"></script>
    <script src="report.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-15628919-5', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
